@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

.navbar-custom {
  background-color: v.$color-header-footer;
  padding: 14px v.$espacio-medio;

  .navbar-brand {
    white-space: normal;
    max-width: 76%;
  }

  .brand-title {
    color: v.$color-primario;
    font-family: v.$font-titulos;
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: .5px;
  }

  .brand-subtitle {
    color: v.$color-secundario;
    font-size: 10px;
    font-family: v.$font-principal;
    letter-spacing: 1.5px;
  }

  @include m.tablet {
    .navbar-brand {
      max-width: none;
      white-space: nowrap;
    }

    .brand-title {
      font-size: 27px;
      letter-spacing: 1px;
    }

    .brand-subtitle {
      font-size: 11px;
      letter-spacing: 2px;
    }
  }

  @include m.desktop {
    padding: 14px v.$espacio-grande;

    .brand-title {
      font-size: 32px;
    }
  }
}
